<div class="card col-md-4 col-sm-6 col-12 ">
  <span class="badge bg-success">12</span>
  <img class="card-img-top" src="/src/img/diploma-pic.png" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">Card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
      content.</p>
  </div>
  <div class="card-footer text-muted bg-info">
    <p> GRADE 1/100</p>
    <i class="material-icons">trending_flat</i>
    <i class="material-icons">get_app</i>
  </div>
</div>
