.card {
  padding: 5px;
  float: left;
  box-shadow: none;
}

.card-footer {
  /*background-color: mediumblue;*/
}

.card-footer p {
  padding: 5px;
  margin: 0;
  font-size: large;
  font-weight: 900;
  display: inline-flex;
}

.card-block {
  background-color: lightgray;
}

.nav {
  background-color: aliceblue;
}

.card-footer p {
  color: white;
  margin: 5px;
}

i {
  margin-top: 15px;
  display: inline-flex;
  float: right;
  color: white;
}

span {
  top: 10px;
  right: 10px;
  position: absolute;
}

span {
  color: white;
  margin: 0;
  padding: 10px;
}
