/*div {*/
/*height: 100px;*/
/*width: 100%;*/
/*background-color: lightgray;*/
/*float: left;*/
/*}*/
.footer-content {
  width: 100%;
  float: left;
  background-color: lightgray;
}
.card {
  background-color: transparent;
  box-shadow: none;
}
.after-footer {
  padding: 10px;
  width: 100%;
  background-color: white;
}
a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 960px) {
  * {
    font-size: medium;
  }
}
