<div class="nav">
  <div class="container">
    <nav class="navbar navbar-light justify-content-between">
      <a class="navbar-brand col-md-4">
        <img src="/src/img/smiljan-header.png"/>
      </a>
      <div class=" col-md-8">
        <div class="btns">
          <button type="button" class="btn btn-default">
            <i class="material-icons">info</i>
            <span class="button-text">Help</span>
          </button>
          <button type="button" class="btn btn-default">
            <i class="material-icons">book</i>
            <span class="button-text">Courses</span>
          </button>
          <button class="btn btn-info" type="submit">
            <i class="material-icons">account_circle</i>
            <span class="button-text">My Account</span>
          </button>
          <button class="btn btn-info" type="submit">
            <i class="material-icons">lock</i>
            <span class="button-text">Log Out</span>
          </button>
        </div>
      </div>
    </nav>
  </div>
</div>
