.nav {
  background-color: lightgray;
}

.bg-faded {
  background-color: lightgray;
}

nav a img {
  height: 50px;
}

button {
  margin-right: 1px;
  font-size: xx-small;
}

@media screen and (max-width: 960px) {
  .button-text {
    display: none;
  }
}

.btns {
  float: right;
}
